body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #fafafa;
}

tr {
    float: left;
}

#navBar {
    height: 25px;
    color: #eeeeee;
    font-weight: normal;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: black;
}

.button, .button:link, .button:visited {
    box-sizing: border-box;
    font-size: 1em;
    margin-bottom: 0.75em;
    border-radius: 3px;
    background-color: #dd4814;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin: 0;
    font-family: Ubuntu, Arial, 'libra sans', sans-serif;
    font-weight: 300;
    padding: 8px 14px;
    text-align: center;
}
.button:hover {
    background-color: #b83a10
}
